@import url(style-intro.css);
.nav {
    margin: 0;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    top: 0px;
    position: sticky;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* padding: 0 15px 0 15px; */
    justify-content: center;
    z-index: 1000000;
    
}
/* .nav * {
    opacity: 0;
}

.nav-active {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-color: white;

}
.nav-active * {
    opacity: 1;
} */

* {
    transition-property: all;
    transition-duration: 0.5s;
}



body {
    background-color: #F9F9F9;
    height: 3000px;
}


#logo {
    height: 25px;
} 

#logo a img {
    height: 100%;
    object-fit: contain;
    max-width: 70%;
}

/* * {
    transition-property: all;
    transition-duration: 1s;
} */

.full-width {
    max-width: 1140px !important;
    width: 90% !important;
    

}

.sali-su {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: -70px;
    border-radius: 100px;
    background-color: var(--grigio);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.sali-visibile{
    right: 50px !important;
}
