

:root{
    --grigio : rgb(14, 14, 14);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
    
    
}

body{
    margin: 0;
    background-color: #F9F9F9;
    min-height: 100vh;
}

.container-logo{
    position: relative;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo a {
    position: absolute;
    bottom: 0px;
}

.intro-container a:visited,
.intro-container a:link , 
.intro-container a:hover, 
.intro-container a:active {
    color: white;
    text-decoration: none;
    text-align: center;
}

.intro-container {
        background-color: var(--grigio);
         background-image: url("../img/pattern/135.png");
}


.intro {
    /* position: absolute; */
    /* background-color: var(--grigio); */
    height: 100vh;
    /* width: 100vw; */
    /* background-image: url("/content/img/pattern/135.png"); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
}


.logo-intro img{
    width:350px;
    max-width: 60vw;
}


.slider-audio{
    
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    flex: 1;
    
}

input[type="range"]{
    color: blue;
}

.intro-audio{

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100vh;
    /* padding-bottom: 150px; */
    /* width: 100vw; */
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
}

.intro-audio > * {
    display: flex;
    
    width: 450px;
    min-width: 40%;
    justify-content: center;
    padding: 0 20px 0px 20px;

    }

    .intro-audio > * p {
        text-align: center;
        color: white;
    }

.benvenuti svg {
    transform: translateY(0px);
    transition-property: all;
    transition-duration: 0.3s;
}

.benvenuti:hover svg {
    transform: translateY(5px);

}

.audio {
    height: 60px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px ;
    display: flex;
    align-items: center;
    padding: 15px;
    gap:10px;
     
}
.audio-container {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.linguetta {
    position: absolute;
    bottom: 7px;
    left: -13px;
    
}

.cerchio {
    width: 45px;
    height: 45px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/800px-President_Barack_Obama.jpg");
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px #00000082;
    display: flex;
    align-items: flex-end;
    position: relative;

}


.cerchio svg {
    position: absolute;
    bottom: -2px;
    left: -6px;
}

.play-button{
    cursor: pointer;
}

