
@import url(variabili.css);

#section-prodotti .banner img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.banner {
    margin: 20px 0 0 0;
}

#section-prodotti {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.elenco-prodotti {
    max-width: 1140px;
    width: 90%;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    
}

.prodotto{
    width: 1 span;
    height: 270px;
    background-color: var(--sfondo-prodotto);
    display: flex;
    flex-flow: column;
    overflow: hidden;
    padding: 10px;
    justify-content: space-between;
    
}

.prodotto:hover img {
    transform: scale(1.05);
}

.prodotto img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.nome-prod{
    font-weight: 700;
}

.prezzo-prod {
    font-size: 0.8em;
}

.info-prodotto{    
    height: 40px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.divisore {
    background-color: #D8D8D8;
    height: 1px;
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .elenco-prodotti{
    grid-template-columns: repeat(2, 1fr);
}}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .elenco-prodotti{
        grid-template-columns: repeat(3, 1fr);
    }
    .prodotto {
        height: 320px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .elenco-prodotti{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
   
}


.my-2 {
    margin: 20px 0 20px 0;
}